<?xml version="1.0"?>
<launch>
	
	<!-- Should we start a simulation or run on hardware? -->
	<arg name="sim" default="false" />
	
	<!-- laser scanners (lidar) -->
	<include file="$(find phelix)/launch/hardware/lasers.include"/>
	<node pkg="tf" type="static_transform_publisher" name="laser" args="0.245 0.175 0.205 0.7853981634 0 0 laserscanner1_front laser 100"/> 
	
	<!-- HACK TO BYPASS ODOM REQUIREMENT #HACKERMAN-->
	<node pkg="tf" type="static_transform_publisher" 
		name="odom_pub" 
		args="0 0 0 0 0 0 odom base_link 100" /> 

	

	<!-- loads the map to the server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find faw)/maps/map_normal.yaml" />
	
	<!-- loads the nav_stack of the youbot -->
	<param name="robot_description" textfile="$(find phelix)/probotics_robot/probotics_robot_2.urdf"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/> 

	<include file="$(find phelix)/launch/navigation/move_base.include"/>
	
	<node name="emergency_stop" pkg="emergency_stop" type="emergency_stop" />

	<node pkg="rviz" type="rviz" name="my_rviz" args="-d $(find phelix)/phelix_rviz.rviz"/>
</launch>
