[submodule "src/fontys_at_work/dependencies/ira_laser_tools"]
	path = src/fontys_at_work/dependencies/ira_laser_tools
	url = https://github.com/iralabdisco/ira_laser_tools
[submodule "src/youbot/youbot_simulation"]
	path = src/youbot/youbot_simulation
	url = http://github.com/youbot/youbot_simulation.git
