<?xml version="1.0"?>
<launch>
	
	<arg name="sim" default="false" />
	
	<!-- laser scanners (lidar) -->
	<include file="$(find youbot)/launch/hardware/lasers.include">
		<arg name="sim" value="true" if="$(arg sim)"/>
	</include>
	
	<!-- Only start ethercat driver and API when running on hardware -->
	<group unless="$(arg sim)">
		<!-- include original youbot driver launch file -->
		<include file="$(find youbot)/launch/hardware/robot_driver.include"/>
	</group>
	
	<!--Mapping-->
	<include file="$(find youbot)/launch/navigation/gmapping_slam.include"/>
	
</launch>
