<?xml version="1.0"?>
<launch>
  <arg name="map" default="map" />
  <arg name="visual" default="false"/>
  <!-- Start the youbot 
  <include file="$(find moveit_youbot_config)/launch/youbot_driver.launch" />-->

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find youbot_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find youbot_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find youbot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="false"/>
  </include>


  <group if="$(arg visual)">
	<node pkg='rviz' type='rviz' respawn='false' name='rviz' args="-d $(arg rvizconfig)" output='screen' />
  </group>

</launch>
