<?xml version="1.0"?>
<launch>

	<!-- include original youbot driver launch file -->
	<include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch"/>

	<!-- Upload youbot model to parameter server --> 
	<param name="robot_description" command="$(find xacro)/xacro.py $(find youbot_description)/robots/youbot.urdf.xacro" />
		  
</launch>
