<?xml version="1.0"?>
<launch>

  <!-- include original youbot driver launch file -->
  <include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch"/>

  <!-- launches the senz3d camera -->
  <include file="$(find realsense_camera)/launch/sr300_nodelet_defualt.launch"/>

  <!-- Upload youbot model to parameter server --> 
  <param name="robot_description" command="$(find xacro)/xacro.py $(find youbot_description)/robots/youbot.urdf.xacro" />

  <arg name="visual" default="false"/>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find youbot_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find youbot_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
