<!-- 
  Description: 
    roslaunch octomap_server octomap_mapping.launch
    but with different args
  To save:
    rosrun octomap_server octomap_saver iets.bt
-->

<launch>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.01" />

    <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
    <param name="frame_id" type="string" value="map" />

    <!-- maximum range to integrate (speedup!) -->
    <param name="sensor_model/max_range" value="1.0" />

    <param name="pointcloud_max_z" value="1" />
    <param name="pointcloud_min_z" value="0" />

    <!-- data source to integrate (PointCloud2) -->
    <remap from="cloud_in" to="/camera/depth/points" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" required="true" />

</launch>
