<?xml version="1.0"?>
<launch>
	
	<!-- laser scanners (lidar) -->
	<include file="$(env SRC)/$(env ROBOT)/$(env ROBOT)/launch/hardware/lasers.include">
		<arg name="sim" value="true" if="$(env SIM)"/>
	</include>
	
	<!-- Only start ethercat driver and API when running on hardware -->
	<group unless="$(env SIM)">
		<!-- include original youbot driver launch file -->
		<include file="$(env SRC)/$(env ROBOT)/$(env ROBOT)/launch/hardware/robot_driver.include"/>
	</group>
	
	<!--Mapping-->
	<include file="$(env SRC)/$(env ROBOT)/$(env ROBOT)/launch/navigation/gmapping_slam.include"/>
	
</launch>
