<?xml version="1.0"?>
<launch>
	
	<arg name="robot_path"   value="(find $(env ROBOT))" />
	<arg name="dollar" 		 value="$" />
	
	<param name="/Task/MarkerFile" value="$(find faw)/maps/markers.yaml" />
	
	<!--Start the robot navigation stack-->
	<include file="$(arg dollar)$(arg robot_path)/launch/navigation.launch" />
	
	<!-- Load the nogo zone map -->
	<node name="nogo_server" pkg="map_server" ns="nogo_zone" type="map_server" args="$(find faw)/maps/map_nogo.yaml">
	</node>
	
	<!-- TODO: Add our middleware and the refbox here -->
	
	<node name="refbox_receiver" pkg="refbox_receiver" type="refbox_receiver" output="screen">
		<param name="remote_refbox" value="true" />
		<param name="host_name" value="lars-linux" />
	</node>
	
	<node name="task_handler" pkg="task_handler" type="task_handler" output="screen" />
	
	<node name="task_executor" pkg="task_executor" type="task_executor" output="screen" >
		<!--<param name="/Task/_MarkerFile" value="$(env WORKSPACE)/maps/markers.yaml" />-->
	</node>
	
	<!-- Control the robot via PS4 controller -->
	<include file="$(find faw)/launch/gamepad.launch"/>
	
</launch>
