<?xml version="1.0"?>
<launch>
	
	<arg name="robot_path"   value="(find $(env ROBOT))" />
	<arg name="dollar" 		 value="$" />
	
	<!--Start the robot navigation stack-->
	<include file="$(arg dollar)$(arg robot_path)/launch/navigation.launch" />
	
	<!-- Load the keepout map server -->
	<node name="nogo_zone_server" pkg="nogo_zone_map_server" type="nogo_zone_map_server" ns="nogo_zone" output="screen">
		<param name="map_width" value="992" />
		<param name="map_height" value="992" />
		<param name="map_resolution" value="0.01" />
		<param name="publish_interval" value="1" />
	</node>
	
	<!-- Load the custom ui to create markers and nogo zones -->
	<node name="map_marker" pkg="map_marker" type="map_marker" output="screen" />
	
	<!-- Control the robot via PS4 controller -->
	<include file="$(find faw)/launch/gamepad.launch"/>
	
</launch>
